@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  background: hsl(220, 16%, 22%);
}

.navbar{
  background: hsl(220, 16%, 10%);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

div{
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: white
}


